.addExercisePage{
    background-color: antiquewhite;
}  
.title{
    background-color: rgb(185, 203, 225);
}
body{
    background-color: antiquewhite;
}
input{
    background-color: rgb(221, 220, 220);
}